.one{
  width: 600px;
  height: 600px;
  margin-top: 100px;
  background: #EEF7FF;
  border-radius: 10px;
}
.two{
  color: #0B60B0;
}
.three{
  font-family: Monaco;
  width:550px;
  height:45px;
  border-radius: 7px;
  border-color: #0B60B0;
}
.four{
  font-family: Verdana;
  font-size: large;
}
.five{
  width: 550px;
  height: 45px;
  color: white;
  font-family: Monaco;
  background: #0B60B0;
  border-radius: 7px;
}
.six{
  text-decoration: none;
  color: #0B60B0;
}